<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a asp-action="Index" asp-controller="Home">
                        <img src="~/img/logotype.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active">
                                <a asp-action="Index" asp-controller="Home">Homepage</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Category" asp-action="Index">Categories <span class="arrow_carrot-down"></span></a>
                                <ul class="dropdown">
                                    @if (User.IsInRole("Admin") || User.IsInRole("User"))
                                    {
                                        <li>
                                            <a asp-area="" asp-controller="Details" asp-action="Index">Product Details</a>
                                        </li>
                                    }    
                                    <li>
                                        <a href="#">Toys</a>
                                    </li>
                                    <li>
                                        <a href="#">Manga</a>
                                    </li>
                                    <li>
                                        <a href="#">Cups</a>
                                    </li>
                                    <li>
                                        <a href="#">T-Shirts</a>
                                    </li>
                                    <li>
                                        <a href="#">Others</a>
                                    </li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li>
                                            <a asp-area="" asp-controller="Product" asp-action="Index">Manage products</a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-controller="Account" asp-action="Index">Accounts list</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Blog" asp-action="Index">Our Blog</a>
                            </li>
                            <li>
                                <a href="#">Contacts</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a asp-controller="AccountSession" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-controller="AccountSession" asp-action="Login">Log in</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="header__right">
                    <a href="#" class="search-switch">
                        <span class="icon_search"></span>
                    </a>
                    @if (User.IsInRole("Admin") || User.IsInRole("User"))
                    {
                        <a href="Cart" class="cart-switch">
                            <span class="icon_cart_alt"></span>
                        </a>
                    }    
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->

<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->